/* 
	Author	: VP 
	Created on: 21-feb-2014
	For Blog: http://Kodingmadesimple.blogspot.com
*/ 

/* styles for the post - add text over image */
/*
.imageBlock img{
   display: inline-block;
   position: relative;
   padding: 0px;
   border: none;
}

.imageBlock span { 
   display: block;
   position: absolute; 
   width: 100%; 
   font: bold 20px Arial; 
   line-height: 2em;
   text-align: center;
   color: black; 
   background: rgb(255, 255, 255); 
   background: rgba(255, 255, 255, 0.5);  
   bottom: 0px;
}*/

/* eoc styles for the post - add text over image */


/* styles for horizontal menu bar 1 */

#hr_menu_1 {
	margin: 0;
	width: auto;
	background-color: #565656;
	font-size: 16px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	text-align: left;
	padding: 8px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
}

#hr_menu_1 ul {
	margin: 0;
	padding: 8px 0;
	list-style: none;
	height: auto;
}

#hr_menu_1 li {
	display: inline;
	padding: 8px;
}

#hr_menu_1 a {
	color: #FFF;
	padding: 10px;
	text-decoration: none;
}

#hr_menu_1 a:hover {
	background-color: #1B191B;
	color: #FFF;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
}

#hr_menu_1 li .active {
	background-color: #1B191B;
	color: #FFF;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
}

/* eoc styles for horizontal menu bar 1 */

/* styles for myButton */

a.myButton, a:link.myButton  {
	display: inline-block;
	cursor:pointer;
	color: #FFF;
	background-color: #66A6CB ;
	padding: 10px 15px;
	font: bold 20px arial;
	text-align: center;
	text-decoration: none;
	border: 2px solid #FFF;
	border-radius: 6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	box-shadow: 0px 0px 5px #999;
	-moz-box-shadow: 0px 0px 5px #999;
	-webkit-box-shadow: 0px 0px 5px #999;
}

a:hover.myButton:hover {
	color: #66A6CB;
	background-color: #FFF;
	border: 2px solid #66A6CB;
}

/* eoc styles for myButton */


/*styles for leather style buttons*/

a.generalBtn, a:link.generalBtn {
	margin: 10px;
	padding: 10px 15px;
	display: inline-block;
	cursor:pointer;
	color:#1c1c1c;
	font: bold 16px arial;
	text-align: center;
	text-decoration: none;
	border: 2px dashed #101010;
	border-radius:0 6px;
	-moz-border-radius:0 6px;
	-webkit-border-radius:0 6px;
	-o-border-radius:0 6px;
}

a:hover.generalBtn:hover
{
	text-decoration: none;
	border-radius:6px 0;
	-moz-border-radius:6px 0;
	-webkit-border-radius:6px 0;
	transition: .2s ease-in; /*animation effect*/
	-webkit-transition: .2s ease-in;
	-moz-transition: .2s ease-in;
	-o-transition: .2s ease-in;
}

a.chamoiseeBtn, a:link.chamoiseeBtn
{
	background-color: #A0785A;
	text-shadow:0px 1px 1px #BC9D90;
	box-shadow: 0 0 0 5px #A0785A,
			1px 1px 4px 6px #7F7F7F;
	-moz-box-shadow: 0 0 0 5px #A0785A,
			1px 1px 4px 6px #7F7F7F;
	-webkit-box-shadow: 0 0 0 5px #A0785A,
			1px 1px 4px 6px #7F7F7F;
	-o-box-shadow: 0 0 0 5px #A0785A,
			1px 1px 4px 6px #7F7F7F;
}

a.burlywoodBtn, a:link.burlywoodBtn
{
	background: #DEB887;
	text-shadow: 0px 1px 1px #FADDBD;
	box-shadow: 0 0 0 5px #DEB887,
			1px 1px 4px 6px #7F7F7F;
	-moz-box-shadow: 0 0 0 5px #DEB887,
			1px 1px 4px 6px #7F7F7F;
	-webkit-box-shadow: 0 0 0 5px #DEB887,
			1px 1px 4px 6px #7F7F7F;
	-o-box-shadow: 0 0 0 5px #DEB887,
			1px 1px 4px 6px #7F7F7F;
}

a.boneBtn, a:link.boneBtn
{
	background-color: #E3DAC9;
	text-shadow: 0px 1px 1px #FFF;
	box-shadow: 0 0 0 5px #E3DAC9,
			1px 1px 4px 6px #7F7F7F;
	-moz-box-shadow: 0 0 0 5px #E3DAC9,
			1px 1px 4px 6px #7F7F7F;
	-webkit-box-shadow: 0 0 0 5px #E3DAC9,
			1px 1px 4px 6px #7F7F7F;
	-o-box-shadow: 0 0 0 5px #E3DAC9,
			1px 1px 4px 6px #7F7F7F;
}

a.copperBtn, a:link.copperBtn
{
	background-color: #B87333;
	text-shadow: 0px 1px 1px #D49869;
	box-shadow: 0 0 0 5px #B87333,
			1px 1px 4px 6px #7F7F7F;
	-moz-box-shadow: 0 0 0 5px #B87333,
			1px 1px 4px 6px #7F7F7F;
	-webkit-box-shadow: 0 0 0 5px #B87333,
			1px 1px 4px 6px #7F7F7F;
	-o-box-shadow: 0 0 0 5px #B87333,
			1px 1px 4px 6px #7F7F7F;
}

/*eoc styles for leather style buttons*/
